.navbar-menu .navbar-start {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-header .card-header-title p {
    text-align: center;
}

